In [1]:
import pandas as pd
import numpy as nd

In [2]:
homicide = pd.read_csv("D:/EDA/Workspace/Homicide_Family.csv")
homicide.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,...,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source,Family
0,0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,...,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI,Others
1,1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,...,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI,Others
2,2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,...,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI,Others
3,3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,...,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI,Others
4,4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,...,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI,Others

## Number of incidents per states per year??

In [4]:
Incident_state_wise = homicide[['Year','State','Record ID']]
Incident_state_wise = Incident_state_wise.groupby(['Year','State'])['Record ID'].count().reset_index()
Incident_state_wise.to_csv('Incident_state_wise.csv')
Incident_state_wise

      Year                 State  Record ID
0     1980               Alabama        513
1     1980                Alaska         47
2     1980               Arizona        293
3     1980              Arkansas        214
4     1980            California       3590
5     1980              Colorado        198
6     1980           Connecticut        158
7     1980              Delaware         44
8     1980  District of Columbia        180
9     1980               Florida       1508
10    1980               Georgia        475
11    1980                Hawaii         84
12    1980                 Idaho         30
13    1980              Illinois       1323
14    1980               Indiana        409
15    1980                  Iowa         63
16    1980                Kansas        163
17    1980              Kentucky        389
18    1980             Louisiana        549
19    1980                 Maine         36
20    1980              Maryland        432
21    1980         Massachusetts        223
22    1980              Michigan        973
23    1980             Minnesota        112
24    1980           Mississippi        218
25    1980              Missouri        531
26    1980               Montana         29
27    1980              Nebraska         58
28    1980                Nevada        154
29    1980         New Hampshire         24
...    ...                   ...        ...
1729  2014         Massachusetts        132
1730  2014              Michigan        576
1731  2014             Minnesota        110
1732  2014           Mississippi        173
1733  2014              Missouri        439
1734  2014               Montana         30
1735  2014              Nebraska         57
1736  2014                Nevada        185
1737  2014         New Hampshire         16
1738  2014            New Jersey        359
1739  2014            New Mexico        128
1740  2014              New York        642
1741  2014        North Carolina        493
1742  2014          North Dakota         15
1743  2014                  Ohio        455
1744  2014              Oklahoma        199
1745  2014                Oregon         84
1746  2014          Pennsylvania        646
1747  2014         Rhodes Island         27
1748  2014        South Carolina        336
1749  2014          South Dakota         20
1750  2014             Tennessee        414
1751  2014                 Texas       1324
1752  2014                  Utah         72
1753  2014               Vermont         11
1754  2014              Virginia        354
1755  2014            Washington        206
1756  2014         West Virginia         74
1757  2014             Wisconsin        171
1758  2014               Wyoming         14

[1759 rows x 3 columns]

## Which month wife's have more tendency to hurt husband??

In [5]:
Wife_husband_month = homicide[['Month','Relationship','Victim Sex','Perpetrator Sex','Record ID']]
Wife_husband_month = Wife_husband_month[(Wife_husband_month['Relationship']=='Husband') & 
                                       (Wife_husband_month['Victim Sex']=='Male') &
                                        (Wife_husband_month['Perpetrator Sex']=='Female')]
Wife_husband_month = Wife_husband_month.groupby(['Month'])['Record ID'].count().reset_index()
Wife_husband_month = Wife_husband_month.sort_values(by='Record ID',ascending = False)
Wife_husband_month

        Month  Record ID
5        July        827
2    December        765
6        June        758
1      August        755
8         May        740
7       March        724
11  September        718
4     January        707
0       April        656
9    November        650
3    February        644
10    October        641

## Number of Incident involving Ex-husband vs Ex-wife??

In [6]:
Exhusband_Exwife = homicide[['Relationship','Record ID','Victim Sex','Perpetrator Sex']]
Exhusband_Exwife = Exhusband_Exwife[((Exhusband_Exwife['Relationship'] == 'Ex-Wife') &
                                    (Exhusband_Exwife['Victim Sex']=='Female') & 
                                     (Exhusband_Exwife['Perpetrator Sex']=='Male')) | 
                                    ((Exhusband_Exwife['Relationship'] == 'Ex-Husband') &
                                     (Exhusband_Exwife['Victim Sex']=='Male') & 
                                     (Exhusband_Exwife['Perpetrator Sex']=='Female'))]
Exhusband_Exwife = Exhusband_Exwife.groupby('Relationship')['Record ID'].count().reset_index()
Exhusband_Exwife = Exhusband_Exwife.sort_values(by = 'Record ID',ascending = False)
Exhusband_Exwife

  Relationship  Record ID
1      Ex-Wife       1844
0   Ex-Husband        584

## Number of Incident involving Exployee vs employer??

In [7]:
Employee_Employer = homicide[['Relationship','Record ID']]
Employee_Employer = Employee_Employer[(Employee_Employer['Relationship'] == 'Employer') | 
                                    (Employee_Employer['Relationship'] == 'Employee')]
Employee_Employer = Employee_Employer.groupby('Relationship')['Record ID'].count().reset_index()
Employee_Employer = Employee_Employer.sort_values(by = 'Record ID',ascending = False)
Employee_Employer

  Relationship  Record ID
1     Employer        509
0     Employee        384

## Number of incident based on family relation??

In [9]:
homicide['Family'] = 0
for i in range(len(homicide)):
    if (homicide.loc[i,'Relationship'] == 'Brother') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Brother Killed by Brother'
        
    elif (homicide.loc[i,'Relationship'] == 'Brother') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Brother Killed by Sister'
        
    elif (homicide.loc[i,'Relationship'] == 'Sister') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Sister Killed by Sister'
        
    elif (homicide.loc[i,'Relationship'] == 'Sister') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Sister Killed by Brother'
        
    elif (homicide.loc[i,'Relationship'] == 'Mother') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Mother Killed by son'
        
    elif (homicide.loc[i,'Relationship'] == 'Mother') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Mother Killed by Daugher'
        
    elif (homicide.loc[i,'Relationship'] == 'Son') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Son Killed by Mother'
        
    elif (homicide.loc[i,'Relationship'] == 'Son') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Son Killed by Father'
        
    elif (homicide.loc[i,'Relationship'] == 'Daughter') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Daughter Killed by Mother'
        
    elif (homicide.loc[i,'Relationship'] == 'Daughter') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Daughter Killed by Father'
        
    elif (homicide.loc[i,'Relationship'] == 'Wife') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Wife Killed by Husband'
        
    elif (homicide.loc[i,'Relationship'] == 'Husband') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Husband Killed by Wife'
        
    elif (homicide.loc[i,'Relationship'] == 'Father') & (homicide.loc[i,'Perpetrator Sex'] == 'Male'):
        homicide.loc[i,'Family'] = 'Father Killed by Son'
        
    elif (homicide.loc[i,'Relationship'] == 'Father') & (homicide.loc[i,'Perpetrator Sex'] == 'Female'):
        homicide.loc[i,'Family'] = 'Father Killed by Daughter'
        
    else:
        homicide.loc[i,'Family'] = 'Others'
        
homicide.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source,Family
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI,Others
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI,Others
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI,Others
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI,Others
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI,Others

In [12]:
homicide.to_csv('Homicide_Family.csv')

In [8]:
Family_Incident = homicide[['Family','Record ID']]
Family_Incident = Family_Incident[(Family_Incident['Family'] != 'Others')]
Family_Incident = Family_Incident.groupby('Family')['Record ID'].count().reset_index()
Family_Incident = Family_Incident.sort_values(by = 'Record ID',ascending = False)
Family_Incident

                       Family  Record ID
13     Wife Killed by Husband      23058
6      Husband Killed by Wife       8614
11       Son Killed by Father       5983
0   Brother Killed by Brother       5016
2   Daughter Killed by Father       3884
5        Father Killed by Son       3880
12       Son Killed by Mother       3859
3   Daughter Killed by Mother       3603
8        Mother Killed by son       3551
9    Sister Killed by Brother       1037
7    Mother Killed by Daugher        687
1    Brother Killed by Sister        480
4   Father Killed by Daughter        473
10    Sister Killed by Sister        251

## Gender wise weapon used in incidents??

In [9]:
Gender_Weapon = homicide[['Perpetrator Sex','Weapon','Record ID']]
Gender_Weapon = Gender_Weapon.groupby(['Perpetrator Sex','Weapon'])['Record ID'].count().reset_index()
Gender_Weapon = Gender_Weapon.sort_values(by='Record ID',ascending=False)
Gender_Weapon.to_csv('Gender_Weapon.csv')
Gender_Weapon

   Perpetrator Sex         Weapon  Record ID
24            Male        Handgun     199776
40         Unknown        Handgun     100601
25            Male          Knife      61015
16            Male   Blunt Object      45782
28            Male        Shotgun      24307
22            Male        Firearm      23103
38         Unknown        Firearm      22590
41         Unknown          Knife      20199
27            Male          Rifle      18486
8           Female        Handgun      17107
32         Unknown   Blunt Object      15833
47         Unknown        Unknown      14787
31            Male        Unknown      14722
9           Female          Knife      13748
0           Female   Blunt Object       5722
44         Unknown        Shotgun       4682
29            Male  Strangulation       4019
45         Unknown  Strangulation       3701
15          Female        Unknown       3683
43         Unknown          Rifle       3411
21            Male           Fire       3132
37         Unknown           Fire       2041
30            Male    Suffocation       1927
12          Female        Shotgun       1733
11          Female          Rifle       1450
6           Female        Firearm       1287
23            Male            Gun       1240
14          Female    Suffocation       1051
5           Female           Fire       1000
46         Unknown    Suffocation        990
39         Unknown            Gun        882
18            Male          Drugs        827
2           Female          Drugs        569
1           Female       Drowning        507
17            Male       Drowning        492
13          Female  Strangulation        390
19            Male     Explosives        355
26            Male         Poison        221
33         Unknown       Drowning        205
34         Unknown          Drugs        192
10          Female         Poison        155
35         Unknown     Explosives        149
20            Male           Fall        137
7           Female            Gun         84
42         Unknown         Poison         78
3           Female     Explosives         33
4           Female           Fall         29
36         Unknown           Fall         24

## Using the amazon data answer the following:
### Create the DTM with min_df = .02 and max_df = 0.90 identify the top 3 words

In [10]:
import string
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from matplotlib import pyplot as plt

In [11]:
nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
words = set(stopwords.words('english'))
words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [13]:
amazon = pd.read_excel("D:/EDA/Workspace/Amazon.xlsx")
text = amazon[['reviews.text']]
print(text['reviews.text'][0])
text.head()

I initially had trouble deciding between the paperwhite and the voyage because reviews more or less said the same thing: the paperwhite is great, but if you have spending money, go for the voyage.Fortunately, I had friends who owned each, so I ended up buying the paperwhite on this basis: both models now have 300 ppi, so the 80 dollar jump turns out pricey the voyage's page press isn't always sensitive, and if you are fine with a specific setting, you don't need auto light adjustment).It's been a week and I am loving my paperwhite, no regrets! The touch screen is receptive and easy to use, and I keep the light at a specific setting regardless of the time of day. (In any case, it's not hard to change the setting either, as you'll only be changing the light level at a certain time of day, not every now and then while reading).Also glad that I went for the international shipping option with Amazon. Extra expense, but delivery was on time, with tracking, and I didnt need to worry about customs, which I may have if I used a third party shipping service.

                                        reviews.text
0  I initially had trouble deciding between the p...
1  Allow me to preface this with a little history...
2  I am enjoying it so far. Great for reading. Ha...
3  I bought one of the first Paperwhites and have...
4  I have to say upfront - I don't like coroporat...

In [14]:
## Step-1 & Step-2 & Step-3 : Converting everything into lower case and replacing the special charater

text['clear_text'] = text['reviews.text'].str.lower().str.replace('[^a-z ]','')
text.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,reviews.text,clear_text
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far great for reading had ...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,i have to say upfront i dont like coroporate ...

In [15]:
## Step-4 : Removing the stopwords

stop = stopwords.words('english')

def sw(text):
    text = [word for word in text.split() if word not in stop]
    return " ".join(text)

## Applying the sw on clear_text columns

text['text_without_stop'] = text['clear_text'].apply(sw)
print(text['clear_text'][0])
print(text['text_without_stop'][0])

i initially had trouble deciding between the paperwhite and the voyage because reviews more or less said the same thing the paperwhite is great but if you have spending money go for the voyagefortunately i had friends who owned each so i ended up buying the paperwhite on this basis both models now have  ppi so the  dollar jump turns out pricey the voyages page press isnt always sensitive and if you are fine with a specific setting you dont need auto light adjustmentits been a week and i am loving my paperwhite no regrets the touch screen is receptive and easy to use and i keep the light at a specific setting regardless of the time of day in any case its not hard to change the setting either as youll only be changing the light level at a certain time of day not every now and then while readingalso glad that i went for the international shipping option with amazon extra expense but delivery was on time with tracking and i didnt need to worry about customs which i may have if i used a third party shipping service
initially trouble deciding paperwhite voyage reviews less said thing paperwhite great spending money go voyagefortunately friends owned ended buying paperwhite basis models ppi dollar jump turns pricey voyages page press isnt always sensitive fine specific setting dont need auto light adjustmentits week loving paperwhite regrets touch screen receptive easy use keep light specific setting regardless time day case hard change setting either youll changing light level certain time day every readingalso glad went international shipping option amazon extra expense delivery time tracking didnt need worry customs may used third party shipping service

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [16]:
## Starting the count vector

vec = CountVectorizer()

vec.fit(text['text_without_stop'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [17]:
## DTM Matrix creation

x = vec.fit_transform(text['text_without_stop'])
x

<1597x7363 sparse matrix of type '<class 'numpy.int64'>'
	with 100770 stored elements in Compressed Sparse Row format>

In [18]:
## Convert this DTM into dataframe

DTM = pd.DataFrame(x.toarray(), columns = vec.get_feature_names())

DTM.head()

,aa,abc,abilities,abilitieswhen,ability,abit,able,aboutconclusionif,abovementioned,absolute,...,zen,zero,zerocons,zink,zip,zippy,zombiesi,zoom,zooming,zumi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Calculating the word freq

word_freq = DTM.sum()
word_freq.sort_values(ascending = False).head(3)

kindle    1499
fire      1389
like      1235
dtype: int64